@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-header
{
  background-color: #253142;
  height: 142px;
}
.bg-main {
  background-color: #253142;
}
.bg-row
{
  background-color: #60845E;
}

.bg-offwhite
{
  background-color: #F2F0EF;
}
.text-grn
{
  color: #60845E;
}